.socials-header {
  display: none;
  flex-flow: row wrap;
  transition: inherit;
  transition: all 0.5s;

  @include media(">=tablet") {
    display: flex;
    max-width: 450px;
  }

  @include media(">=desktop") {
    display: inline-flex;
    flex-flow: column wrap;
    align-items: center;
    margin-right: auto;
    transform: translate(-50%);
  }
}

.socials-header__item {
  transition: inherit;
}

.socials-header__item:not(:last-child) {
  padding-right: 12px;

  @include media(">=desktop") {
    padding-right: initial;
  }
}

.socials-header__icon {
  transition: inherit;

  &:hover {
    --color: #{$primary-color};
  }
}

.socials-header__link {
  display: block;
  transition: inherit;

  &:focus {
    outline: none;
  }

  &:active,
  &:focus {
    .socials-header__icon {
      --color: #{darken($primary-color, 5%)};
    }
  }
}
