mixin socials-header(data)
	+b('ul').socials-header&attributes(attributes)
		each value in data
			- const { name, width: iconWidth, height: iconHeight, href } = value;

			+e('li').item
				+e('a').link(href= href)
					!= pugHelpers.Icon.call(locals, {iconName: name, className: `socials-header__icon socials-header__icon--${name}`, iconWidth, iconHeight})
